{% extends "index.html" %}
{% block content %}
{% include "sources/sources.html" with datatable=1 %}
<script src="/static/js/clientes.js" ></script>
<div class="row" style="margin-bottom: 2%;margin-top: 2%;" >
    <div class="col-1"></div>
    <div class="card col-10" style="padding-left: 0;padding-right: 0;box-shadow: -1px 3px 18px -2px rgba(1,7,15,0.33);">
      <div class="card-header " style="color:#1D1D1D;display:flex;">
        <h5>Clientes</h5>
      </div>
      <div class="card-body overflow-auto">
        <table id="tabla-cliente" class="table display" style="margin:10;">
            <thead>
              <tr>
                {% for col in columnas %}
                <th>{{col}}</th>
                {% endfor%}
              </tr>
            </thead>
            <tbody>
               
            </tbody>
            <tfoot>
              <tr>
                {% for col in columnas %}
                <th>{{col}}</th>
                {% endfor%}
              </tr>
            </tfoot>
        </table>
      </div> 
    </div> 
    </div> 
    <div class="col-1"></div>
</div>
{% endblock %}