{% extends "index.html" %}
{% block content %}
{% include "sources/sources.html" with datatable=1 %}
<script src="/static/js/clientes.js" ></script>
<div class="row" style="margin-bottom: 2%;margin-top: 2%;" >
	<div class="col-1"></div>
	 <div class="card col-10" style="padding-left: 0;padding-right: 0;box-shadow: -1px 3px 18px -2px rgba(1,7,15,0.33);">
	 	<div class="card-body overflow-auto row">
	 		<div class="col-4"><button class=" btn btn-primary" style="width: 100%">Productos</button></div>
	 		<div class="col-4"><button class="btn btn-primary" style="width: 100%">Categorias</button></div>
	 		<div class="col-4"><button class="btn btn-primary" style="width: 100%">Colores</button></div>
	 	</div>
	 </div>
	
</div>
<div class="row" style="margin-bottom: 2%;margin-top: 2%;" >
    <div class="col-1"></div>
    <div class="card col-10" style="padding-left: 0;padding-right: 0;box-shadow: -1px 3px 18px -2px rgba(1,7,15,0.33);">
      <div class="card-header " style="color:#1D1D1D;display:flex;">
        <h5>Clientes</h5>
        <!--<button type="button" class="btn btn-success button-mantenimiento" data-toggle="modal" data-target="#modal-credito" data-whatever="Agregar" >+ Cliente</button>-->
      </div>
      <div class="card-body overflow-auto">
        <table id="tabla-cliente" class="table display" style="margin:10;">
            <thead>
              <tr>
                {% for col in columnas %}
                <th>{{col}}</th>
                {% endfor%}
                <!--<th>Acciones</th>-->
              </tr>
            </thead>
            <tbody>
               
            </tbody>
            <tfoot>
              <tr>
                {% for col in columnas %}
                <th>{{col}}</th>
                {% endfor%}
                <!--<th>Acciones</th>-->
              </tr>
            </tfoot>
        </table>
      </div> 
    </div> 
    </div> 
    <div class="col-1"></div>
</div>
<!--Modal Agregar y Actualizar-->
<div class="modal fade" id="modal-credito" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body overflow-auto">
        <form id="form-credito" >{% csrf_token %}
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nombres:</label>
            <input type="text" class="form-control" id="nombres" name="nombres">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Apellidos:</label>
            <input type="text" class="form-control" id="apellidos" name="apellidos">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Rol de Crédito:</label>
            <select class="custom-select" id="tipo_credito" name="tipo_credito">
            </select>
          </div>
          <!--<div class="form-group">
            <label id="label_saldo" for="recipient-name" class="col-form-label">Saldo Acreedor (S/.):</label>
            <input type=number step=any class="form-control" id="saldo_credito" name="saldo_credito">
          </div>-->
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary" id="submit_modal_credito"></button>
      </div>
    </div>
  </div>
</div>
<!--Modal Eliminar-->
<div class="modal fade" id="modal-credito-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #F8DDD9;">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger" id="submit-delete-credito">Eliminar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}